*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#form{
    margin-top: 220px;
}

form h1{
    margin-bottom: 30px;
    text-align: left;
}

.form-label{
    text-align: left;
}

.col img{
  object-fit: cover;
  width: 450px;
  height: 700px;
  margin-top: 50px;
}

/* From Uiverse.io by mobinkakei */ 
.btn {
    width: 140px;
    height: 50px;
    background: linear-gradient(to top, #000000, #000000, #000000);
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
   
    overflow: hidden;
  }
  
  .btn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
  }
  
  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
  }
  
  .btn:hover .btn-text-one {
    top: -100%;
  }
  
  .btn:hover .btn-text-two {
    top: 50%;
  }
  